.main-grid {
    max-width: 1280px;
    min-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main-grid .cv {
    min-height: 100vh;
}

.main-grid .education .education-form {
    display: none;
}

.main-grid .experience .experience-form {
    display: none;
}
