.main-grid {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 60px 20px 60px 20px;
}

.main-grid .info-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-grid .cv {
    min-height: 120vh;
}

.main-grid .info-form .personal-deets {
    background-color: var(--info-form-color);
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    gap: 15px;
    > * {
        display: grid;
        gap: 10px;
    }
}

.main-grid .info-form .personal-deets .deets {
    display: flex;
    gap: 10px;
    > * {
        width: 100%;
    }
}

.main-grid .info-form .personal-deets .deets .name-email,
.main-grid .info-form .personal-deets .deets .num-addr {
    display: grid;
    gap: 10px;
}

.main-grid .info-form .skills {
    background-color: var(--info-form-color);
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    gap: 15px;
    > ul {
        list-style-type: none;
        padding: none;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

.main-grid .info-form .summary {
    background-color: var(--info-form-color);
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    display: grid;
    > form {
        padding: 0 20px 20px 20px;
    }
}

.main-grid .info-form .summary .main-btn {
    padding: 20px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-grid .info-form .summary form textarea {
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: var(--main-bg-color);
    width: 100%;
}

.main-grid .info-form .summary.deets-hidden {
    > form {
        display: none;
    }
}

.main-grid .info-form .education,
.main-grid .info-form .experience {
    background: var(--main-bg-color);
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: grid;
    gap: 8px;
    > * {
        background: var(--info-form-color);
    }
}

.main-grid .info-form .education.form-visible,
.main-grid .info-form .experience.form-visible {
    gap: 0px;
}

.main-grid .info-form .education .education-form form,
.main-grid .info-form .experience .experience-form form {
    padding: 20px;
    display: grid;
    gap: 10px;
}

.main-grid .info-form .experience .experience-form form .exp-descrip textarea {
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: var(--main-bg-color);
    width: 100%;
}

.main-grid .info-form .education .education-form form .edu-duration,
.main-grid .info-form .experience .experience-form form .exp-duration {
    display: flex;
    gap: 15px;
    > * {
        width: 100%;
    }
}

.main-grid .info-form .education .education-form .form-btns,
.main-grid .info-form .experience .experience-form .form-btns {
    display: flex;
    padding: 0 20px 10px 20px;
    justify-content: center;
    gap: 4rem;
}

.main-grid .info-form .education .education-form .form-btns button,
.main-grid .info-form .experience .experience-form .form-btns button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.main-grid .info-form .education .education-form .form-btns .add-edu-deets,
.main-grid .info-form .experience .experience-form .form-btns .add-exp-deets {
    background: #187ff5;
    color: #fff;
    border: none;
}

.main-grid .info-form .education .education-form .form-btns .cancel,
.main-grid .info-form .experience .experience-form .form-btns .cancel {
    background: none;
    color: #808080;
    border: 2px solid #ccc;
}

.main-grid .info-form .education .education-deets > *,
.main-grid .info-form .experience .experience-deets > * {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    > button {
        background: none;
        border: none;
    }
}

.main-grid .info-form .education .main-btn,
.main-grid .info-form .experience .main-btn {
    padding: 20px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-grid .info-form .education .add-edu,
.main-grid .info-form .experience .add-exp {
    padding: 10px;
    display: flex;
    justify-content: center;
    > button {
        padding: 15px 25px 15px 25px;
        border: none;
        border-radius: 15px;
        background: var(--main-bg-color);
    }
}

.main-grid .info-form .education .education-deets.hidden {
    display: none;
}

.main-grid .info-form .education .education-deets.visible {
    display: grid;
    gap: 10px;
}

.main-grid .info-form .education .add-edu.hidden {
    display: none;
}

.main-grid .info-form .education .add-edu.visible {
    display: flex;
}

.main-grid .info-form .education.deets-hidden .main-btn {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-grid .education .education-form.hidden {
    display: none;
}

.main-grid .education .education-form.visible {
    display: grid;
}

.main-grid .experience .experience-form.hidden {
    display: none;
}

.main-grid .experience .experience-form.visible {
    display: grid;
}

.main-grid .info-form .experience .experience-deets.hidden {
    display: none;
}

.main-grid .info-form .experience .experience-deets.visible {
    display: grid;
    gap: 10px;
}

.main-grid .info-form .experience .add-exp.hidden {
    display: none;
}

.main-grid .info-form .experience .add-exp.visible {
    display: flex;
}

.main-grid .info-form .experience.deets-hidden .main-btn {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
